$base-color: #333C48;
$hover-base-color: #3c4653;
$background-color: #e7e6eb;
$panel-color: white;

.img-panel-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .img-panel-elem {
        padding: 8px;
        margin: 8px;
        background-color: $base-color;
        border-radius: 15px;
        align-content: space-evenly;
        display: grid;
        justify-items: center;
        img {
            display: block;
            max-height: 300px;
        }
        span {

            color: $background-color;

            font-style: italic;
        }
    }
}

.user-panel-container{
    padding: 4px;

    display: table;
    margin: 40px auto;
    table {
        width: 750px;

        border-spacing: 0;
        border: 1px solid black;
    td {
        padding: 2px 4px;
    }
    tr:nth-child(even){
        background-color: #dedede;
    }
    thead {
        background-color: $base-color;
        color: white;
    }
    }
}

h2{
    color: $base-color;
    text-align: center;
    font-size: 1.75em;
    margin: 50px 0 30px;
}
.addUser-container{
    display: table;
    margin: 0 auto;

    h1{
        color: $background-color;
        text-align: center;
        font-size: 1.75em;
        margin-bottom: 30px;
    }
    .input-text{
        display: table;
        width: 300px;
        margin: 0 auto 20px;
        background-color: $hover-base-color;
        border: none;
        height: 40px;
        border-radius: 20px;
        padding-left: 20px;
        color: white;
        font-size: 0.75em;
        transition: 0.2s;
        &:focus, &:hover{
            background-color: #434e5c;
            outline: none;
        }
    }
    input[type=submit] {
        width: 150px;
        display: table;
        margin: 0 auto;
        color: white;
        background-color: rgb(255, 121, 10);
        border: none;
        height: 40px;
        border-radius: 40px;
        font-size: 0.75em;
        font-weight: 700;
        cursor: pointer;
        transition: 0.2s;

        &:hover{
            background-color: rgb(231, 107, 5)
        }
    }
    .label-text{
        display: table;
        margin: 0 auto 5px;
        
    }
}

// Forum

.topic {
    display: flex;
    background-color: $base-color;
    border: 1px, solid, black;
    margin: 4px;
    color: $panel-color;
    align-items: center;
    div {
        flex: auto;
    }
}

.topic-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.topic-title-first {
    display: block;
    font-size: 30px;
}

.post {
    display: grid;
    grid-template-columns: 166px auto;
    background-color: $base-color;
    color: #FFF;
    margin: 16px;
    padding: 8px;
}

.post-author img,
.post-author span {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.post-content {
    margin-left: 8px;
    span {
        display: block;
        width: 100%;
    }

    span:first-child {
        display: block;
        margin-bottom: 8px;
    }

    img {
        width: 95%;
    }
}