.img-panel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.img-panel-container .img-panel-elem {
  padding: 8px;
  margin: 8px;
  background-color: #333C48;
  border-radius: 15px;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.img-panel-container .img-panel-elem img {
  display: block;
  max-height: 300px;
}

.img-panel-container .img-panel-elem span {
  color: #e7e6eb;
  font-style: italic;
}

.user-panel-container {
  padding: 4px;
  display: table;
  margin: 40px auto;
}

.user-panel-container table {
  width: 750px;
  border-spacing: 0;
  border: 1px solid black;
}

.user-panel-container table td {
  padding: 2px 4px;
}

.user-panel-container table tr:nth-child(even) {
  background-color: #dedede;
}

.user-panel-container table thead {
  background-color: #333C48;
  color: white;
}

h2 {
  color: #333C48;
  text-align: center;
  font-size: 1.75em;
  margin: 50px 0 30px;
}

.addUser-container {
  display: table;
  margin: 0 auto;
}

.addUser-container h1 {
  color: #e7e6eb;
  text-align: center;
  font-size: 1.75em;
  margin-bottom: 30px;
}

.addUser-container .input-text {
  display: table;
  width: 300px;
  margin: 0 auto 20px;
  background-color: #3c4653;
  border: none;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  color: white;
  font-size: 0.75em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.addUser-container .input-text:focus, .addUser-container .input-text:hover {
  background-color: #434e5c;
  outline: none;
}

.addUser-container input[type=submit] {
  width: 150px;
  display: table;
  margin: 0 auto;
  color: white;
  background-color: #ff790a;
  border: none;
  height: 40px;
  border-radius: 40px;
  font-size: 0.75em;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.addUser-container input[type=submit]:hover {
  background-color: #e76b05;
}

.addUser-container .label-text {
  display: table;
  margin: 0 auto 5px;
}

.topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333C48;
  border: 1px, solid, black;
  margin: 4px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topic div {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.topic-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.topic-title-first {
  display: block;
  font-size: 30px;
}

.post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 166px auto;
      grid-template-columns: 166px auto;
  background-color: #333C48;
  color: #FFF;
  margin: 16px;
  padding: 8px;
}

.post-author img,
.post-author span {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.post-content {
  margin-left: 8px;
}

.post-content span {
  display: block;
  width: 100%;
}

.post-content span:first-child {
  display: block;
  margin-bottom: 8px;
}

.post-content img {
  width: 95%;
}
/*# sourceMappingURL=subpage.css.map */